/* 
    界面上半部分样式设置
*/

html,
body {
    margin: 0;
    font-size: 70%;
    background: rgb(250, 243, 243);
    scroll-behavior: smooth;
    font-family: 'Catamaran', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Catamaran', sans-serif;
}

p {
    font-size: 0.9em;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

/*-- header --*/
/* banner style */
.banner_w3pvt {
    position: relative;
    z-index: 1;
}

.banner-top {
    background: url(../../../src/assets/icon/banner1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-imgs{
    
}

.banner-top1{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url(../../../src/assets/icon/test1.jpg)  no-repeat;
    background-size:cover;
    max-width: 100%;
    max-height:100% !important;
}

.banner-top1::after {
    overflow: hidden;
    content: "";
}

.banner-top2 {
    background: url(../../../src/assets/icon/banner3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-info {
    padding-top: 15em;
    max-width: 100%;
    /* background: rgb(230, 173, 144); */
    opacity:0.5;
}

.banner-w3ls-inner {
    text-align: left;
    padding: 2em;
    width: 60%;
}

.banner-info h1 {
    text-shadow: 3px 1px 3px rgba(45, 45, 45, 0.38);
    font-size: 4em;
    color: #fff;
    font-weight: 600;
    line-height: 1em;

}
.banner-info h3{
    font-size: 5em;
    text-align: center;
    padding-left: 40px;
    margin-top:-100px;
    margin-bottom: 40px;
    letter-spacing: 40px;
}


.banner-info h4 {
    color: #ec1c24;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.banner-top,
.banner-top1,
.banner-top2,
.banner-top3 {
    min-height: 50em;
}

.overlay,
.overlay.sec {
    min-height: 50em;
    background: rgba(0, 0, 0, 0.44);
}

.overlay.sec {
    background: rgba(0, 0, 0, 0.62);
}

.overlay1 {
    min-height: 750px;
    background: rgba(0, 0, 0, 0.5);
}




.banner-w3ls-inner p {
    color: #fff;
    letter-spacing: 3px;
    margin: 1em 0;
}

/* header */
/* CSS Document */
.w3pvt-bg {
    background: #fff;
    padding: 1.5em;
    display: flex;
}

#logo a {
    float: right;
    font-size: 2em;
    margin-top: 20px;
    display: block;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    padding: 0px 0px;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
}

div#logo h1 span {
    color: #fdbd10;

    vertical-align: middle;
}

header {
    position: absolute;
    z-index: 9;
    max-width: 100%;
    padding: 1rem 0;
}



.mid-w3-pvt-content {
    background: url(../../../src/assets/icon/banner2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position: relative;
}

.overlay-inner {
    background: rgba(0, 0, 0, 0.5);
}


